## -------------------------------------
## Exclude the following directory/files
## -------------------------------------

## Windows image file caches
Thumbs.db

## Windows folder config file
Desktop.ini

## Editor Settings
*.sublime-project
*.sublime-workspace
.idea
.vscode

## Sublime Text plugin settings
.sublime-grunt.cache

## Composer
composer.phar
/vendor

## Others
/node_modules
/logs
