@font-face {
    font-family: "portfolio";
    src: url("../fonts/portfolio.eot");
    src: url("../fonts/portfolio.eot?#iefix") format("embedded-opentype"), url("../fonts/portfolio.woff") format("woff"),
        url("../fonts/portfolio.ttf") format("truetype"), url("../fonts/portfolio.svg#portfolio") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "portfolio" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    vertical-align: middle;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "portfolio" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    vertical-align: middle;
}

.icon-email:before {
    content: "\e000";
}
.icon-github:before {
    content: "\e001";
}
.icon-android-call:before {
    content: "\e002";
}
.icon-dribbble:before {
    content: "\e003";
}
.icon-linkedin-circled:before {
    content: "\e004";
}
.icon-wordpress:before {
    content: "\e005";
}
.icon-external-link:before {
    content: "\e006";
}
.icon-link:before {
    content: "\e007";
}
.icon-twitter:before {
    content: "\e008";
}
.icon-behance:before {
    content: "\e009";
}
.icon-youtube:before {
    content: "\e00a";
}
.icon-dot-circle-o:before {
    content: "\e00b";
}
.icon-medium:before {
    content: "\e00c";
}
