$color__site-dark: #2d3274;
$color__site-blue: #1c75bc;

$font-secondary: "Merriweather", Georgia, serif;

// Overriding Bootstrap Variables.
$body-bg: #ededed;
$body-color: #333;
// $primary: $color__site-blue;
$link-color: #1e6bb8; // light blue - a11y friendly, passed AA

$font-family-sans-serif: "Noto Serif", Georgia, "Times New Roman", serif;
