$color__site-dark: #2d3274;
$color__site-blue: #1c75bc;

$font-secondary: 'Merriweather', Georgia, serif;

// Overriding Bootstrap Variables.
$body-bg: #ededed;
$body-color: #333;
// $primary: $color__site-blue;
// $link-color: $color__site-blue;

$font-family-sans-serif: 'Noto Serif', Georgia, 'Times New Roman', serif;
