/**
 * Main Stylesheet
 */

@import "variables";
@import "typography";
@import "bootstrap";
@import "layout";
@import "icons";

.text-grey {
    color: #666;
}

// @media (min-width: 768px) {
// 	.left-column {
// 		background-image: url('../images/Mayeenul-Islam-Mayeen.jpg');
// 		background-repeat: no-repeat;
// 		background-size: cover;

// 		&:after{
// 			content: "";
// 			background-color: rgba(0,0,0,0.9);
// 			position: absolute;
// 			top: 0;
// 			right: 0;
// 			bottom: 0;
// 			left: 0;
// 		}
// 	}

// 	#site-header {
// 		z-index: 1;
// 	}
// }

ul li {
    margin-bottom: 0.5em;
}

ul.iconified-ul {
    list-style-type: none;

    li {
        position: relative;

        &::before {
            content: "\e00b";
            font-family: portfolio;
            position: absolute;
            top: 3px;
            left: -30px;
            color: #333;
        }
    }
}

.no-js .hide-if-no-js {
    display: none;
}

ul.skill-badges {
    list-style-type: none;
    padding-left: 0;

    li {
        display: inline-block;
        padding: 0.2em 0.4em;
        border: 1px solid #666;
        border-radius: 5px;

        &:nth-child(even) {
            border-color: #999;
        }
    }
}

.section-head {
    &:hover:after {
        content: "\e007";
        font-family: "portfolio";
        position: absolute;
        top: 2px;
        left: -35px;
        line-height: 1;
        vertical-align: middle;
        font-size: 25px;
        color: #999;
    }
}

@media print {
    .left-column {
        border-bottom: 3px solid #ccc;
    }
}

.color-on-hover {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;

    &:hover {
        filter: none;
        transition: filter 0.3s ease-in-out;
    }
}
